<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>无网络</title>
    <link rel="stylesheet" href="css/G_signal.css">
    <script src="js/rem.js"></script>
    <script src="js/jquery.js"></script>
</head>
<body>
    <div class="login">
        <header></header>
        <section class="title">
            <div class="title_con">
                <div class="img_box">
                    <img src="img/G_aa.png" alt="">
                </div>
                <h2>客官 <br> 欢迎来到小小厨</h2>
            </div>
        </section>
        <section class="denglu">
            <form action="">
                <div class="info">
                    <div class="group">
                        <div class="img_box">
                            <img src="img/G_ab.png" alt="">
                        </div>
                        <input type="text" name="username" placeholder="请填写您的手机号码 邮箱 用户名">
                    </div>
                    <div class="group">
                        <div class="img_box">
                            <img src="img/G_ac.png" alt="">
                        </div>
                        <input type="password" name="password" placeholder="请填写您的用户密码 （6 16位）">
                    </div>
                </div>
                <div class="forget">
                    <div class="img_box">
                        <img src="img/G_ad.png" alt="">
                    </div>
                    <span>密码丢失 轻松找回</span>
                </div>
                <a href="" class="go">立即登录</a>
            </form>
        </section>
        <section class="third">
            <h4>第三方登录</h4>
            <div class="img_box">
                <a href="">
                    <img src="img/G_ae.png" alt="">
                </a>
                <a href="">
                    <img src="img/G_af.png" alt="">
                </a>
                <a href="">
                    <img src="img/G_ag.png" alt="">
                </a>
            </div>
        </section>

    </div>
    <div class="loading">
        <div class="kong"></div>
        <div class="img_box">
            <img src="img/G_ah.png" alt="">
        </div>
        <p>亲  信号飘走了 登录失败 <br> 快把他找回来 </p>
        <a href="" class="cha">检查网络</a>
    </div>
</body>
</html>