<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>支付成功</title>
    <script src="js/rem.js" ></script>
    <link rel="stylesheet" href="css/pay3.css">
</head>
<body>
    <img src="image/支付成功.png" alt="">
    <p>恭喜您本次支付成功</p>
    <div class="button">
        <div style="margin-right: 0.24rem;background-color:#fdc238;" class="buttons">查看订单</div>
        <div style="background-color:#3cc362;" class="buttons">返回首页</div>
    </div>
</body>
<script src="js/jQuery.js" ></script>
</html>