@import url(base.css);
/* 头部 */
body{
    background-color:#f7f5f5;
}
header{
    box-sizing: border-box;
    padding:0 0.24rem;
    width: 100%;
    height:0.9rem;
    background-color:#f7f5f5;
    border-bottom:1px solid #eae9e9;
    overflow: hidden;   
}
header a{
    display:block;
    margin-top:0.32rem;
    height:0.58rem;
    float:left;
    font-size: 0.22rem;
}
header h3{
    display:block;
    width:1.7rem;
    height: 100%;
    float:left;
    font-size:0.32rem;
    color:#66696e;
    text-align: center;
    line-height:0.9rem;
    margin-left:2.30rem;
}
/* 支付金额及优惠券 */
.money{
    width:100%;
    height:2.04rem;
    background-color:#f7f5f5;
    padding:0.73rem 0.24rem 0;
    box-sizing: border-box;
}
.money .sum{
    width:100%;
    height: 0.57rem;
    background-color:#f7f5f5;
    overflow: hidden;
}
.money .circle{
    margin-top:0.20rem;
    float:left;
    width:0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background-color:#fdc238;
}
.sum .one{
    display:block;
    float:left;
    width: auto;
    font-size:0.24rem;
    color:#9d9c9c;
    margin:0.08rem 2.37rem 0 0.14rem;
}
.sum .two{
    display:block;
    float:left;
    width: auto;
    font-size:0.25rem;
    color:#9d9c9c;
    font-weight: 800;
    margin:0.08rem 0.09rem 0 0; 
}
.sum .three{
    display:block;
    float:left;
    width: auto;
    font-size:0.35rem;
    color:#000;
    font-weight: 800;
}
.money .discount{
    width:100%;
    height: 0.74rem;
    background-color:#f7f5f5;
    overflow: hidden;
}
.discount img{
    float: left;
    width:0.40rem;
    height: 0.30rem;
    margin:0.20rem 0.24rem 0 0.14rem;
    box-shadow: 0 0 0.06rem 0.04rem rgba(246,220,166,0.6)
}
.discount span{
    display:block;
    float:left;
    color:#9d9c9c;
    margin-top:0.16rem;
    font-size:0.25rem;
}
.way_title{
    width:100%;
    height:1.00rem;
    padding:0.46rem 0.24rem 0;
    box-sizing: border-box;
    font-size:0.27rem;
    font-weight: 800;
    color:#4b4b4b;
}
.way_method{
    width:7.02rem;
    margin:0.12rem auto 0.24rem;
    height:1.10rem;
    background-color:#fff;
    padding:0.25rem;
    box-sizing:border-box;
    border-radius: 0.2rem;
}
.way_method p{
    text-align: center;
    line-height: 0.4rem;
    font-size:0.6rem;
    float: left;
    width: 0.6rem;
    height: 0.6rem;
    border-radius:50%;
    color:#fff;
}
.way_method span{
    display:block;
    float:left;
    margin-top:0.1rem;
    font-size:0.25rem;
    color:#b8b8b8;
    margin-left:0.23rem;
}
.way_method .back_num{
    display:block;
    width:0.78rem;
    height: 0.44rem;
    border-radius: 0.20rem;
    background-color:#ebfaf7;
    color:#3bccaf;
    font-size: 0.30rem;
    font-weight: 800;
    text-align: center;
    line-height: 0.44rem;
}